<img src="https://www.python.org/static/img/python-logo.png" style='display:inline;margin-right:5px;'>

<img src="http://www.alzio.co.kr/img_file/builder/icon/201706201643ic_01.gif" style='display:inline;margin-right:5px;'><img src="http://www.alzio.co.kr/img_file/builder/icon/201706204478ic_02.gif" style='display:inline;margin:0;'>

<h1 style='COLOR: #002c5f;margin-top:5px;'>ALZIO - IT전문교육 : Python [고급]</h1><div>

In [ ]:
a = int(input('횟수: '))

for b in range(0, a, 1):
    print(b)

In [ ]:
al1 = [70, 90, 55, 95, 30.7]
al2 = 0

for a in al1:
    al2 = al2 + a
al3 = al2/len(al1)
print(al3)

In [ ]:
al1 = [70, 90, 20, 95, 30]
al2 = [a + 15 for a in al1 if a %2==0]
print(al2)

In [ ]:
al1 = [70, 90, 20, 95, 30]
al2 = 0

for a in al1:
    al2 = al2 + 1
    if a > 50:continue
    print('{0} -> 낙제'.format(al2))

In [ ]:
al1 = [2, 0, '3', 5, '7', 15, '1']
for a in al1:
    if type(a) == type(""):
        print(a)
        #break
        continue
else:
    print("완료")

In [ ]:
al1 = [2, 0, '3', 5, '7', 15, '1']
for a in al1:
    if type(a) == type(""):
        print(a)

In [ ]:
a = ['A', 'B', 'C']

for b in a:
    print(b)

In [ ]:
for a in range(0, 5, 3):
    print('ALZIO - IT전문교육')

In [ ]:
al = [5, 1, 5, 9]

for al1 in al:
        al2 = al2 + al1
print(al2)

In [ ]:
engine = 94
transmission = 80
velocity = 50

al1 = (engine + transmission + velocity) /3
al2 = engine + transmission + velocity

if al1 >= 93:
    al3 = 'A등급'
    if engine >= 93 and transmission >= 93 and velocity >= 93:
        al3 += ' - WIN!'

elif al1 >= 90:
    al3 ='2000cc'
elif al1 >= 85:
    al3 ='1600cc'
elif al1 >= 75:
    al3 ='1000cc'
    
else:
    al3 ='경차'

print('평균:', int(al1))
print('통합:', al2)
print('등급:', al3)

In [ ]:
if 비교:
      실행
      실행2

elif 비교 2:
      실행
      실행2

elif 비교 3:
      실행
      실행2

elif 비교 4:
      실행
      실행2
      
else:
      실행

In [ ]:
a = int(input("근태: "))
if a >= 200:
    all = '승진'
elif a >= 190:
    all = '급여인상'
elif a >= 180:
    all = '차기승진'
else:
    all = '권고사직'    
print(all)

In [ ]:
a = float(input("입력해: "))
if a >= 0:
    if a == 0:
        print("제로")
    else:
        print("양수")
else:
    print("음수")

In [ ]:
a = 9

if a >= 0:
 print("양수")
else:
 print("음수")

In [ ]:
a = float(input("양수/음수/제로: "))
if a > 0:
    print("양수")
elif a == 0:
    print("제로")
else:
    print("음수")

In [ ]:
#al1 = int(input('거리: '))
al1 = float(input('거리: '))
al2 = 0.621371

al3 = al1 * al2
print('{0:.2f} / {1:.2f}'.format(al1, al2))

In [ ]:
al1 = [50, 5, 9.8]

for al2 in al1:
    al3 = al2 * 39.37
    
    print('{0} m'.format(al2))
    print('{0} in \n'.format(al3))

In [ ]:
import random
alzio = []

for i in range(0, 20):
    alzio.append(i)
print(alzio)    

al1 = random.choice(alzio)
print(al1)

al2 = random.sample(alzio, 7)
print(al2)

random.shuffle(alzio)
print(alzio)

In [ ]:
import random

#print(random.randint(15, 50))
#print(random.uniform(15, 50))
#print(random.choice(x))

x = ["one", "two", "tree", "for"]

random.shuffle(x)
print(x)

In [ ]:
import cmath

#al1 = 5
#al2 = 2
#al3 = 3

al1 = float(input('1: '))
if al1 == 0:
    print('2차방정식 의 값이 아니야!')
    
al2 = float(input('2: '))
al3 = float(input('3: '))

al4 = (al2 ** 2) - (4 * al1 * al3)

al5 = (- al2 + cmath.sqrt(al4))/(2 * al1)
al6 = (- al2 - cmath.sqrt(al4))/(2 * al1)

print('{0:.3f} / {1:.3f}'.format(al5, al6))

In [ ]:
left = float(input('좌: '))
right = float(input('우: '))
foot = float(input('아래: '))

all = (left + right + foot) / 2
it = (all*(all-left)*(all-right)*(all-foot)) ** 2
print('{0:.2f}'.format(it))

In [ ]:
def al1(a, b):
    return a * b / 2
print(al1(30,13))

<b>int</b>(정수), <b>float</b>(실수), <b>str</b>(문자열)

산술 연산자 : <b>+</b> <b>*</b> <b>*</b> / % // **

비교 연산자 : < > == != <= >=

논리 연산자 : and, or, not

헤론의 공식 : http://terms.naver.com/entry.nhn?docId=3350242&cid=58247&categoryId=58247

공간정보 : http://terms.naver.com/entry.nhn?docId=3484161&cid=58439&categoryId=58439#TABLE_OF_CONTENT2

In [ ]:
print('ALZIO - IT전문교육 : Python [고급]')

In [ ]:
al1 = input('1번 : ')
al2 = input('2번 : ')
al3 = input('3번 : ')

#al4 = al1 + al2 + al3
#al4 = int(al1) * int(al2) * int(al3)
al4 = float(al1) + float(al2) + float(al3)

print('\n\n\n{0} + {1} + {2} = {3}'.format(al1, al2, al3, al4))

In [ ]:
al1 = 36
al2 = 95.5
al3 = 8
#alzio = '알지오'

al4 = float(al1) + float(al2) + float(al3)

print('{0} + {1} + {2} = {3}'.format(al1, al2, al3, al4))

In [ ]:
import cmath

al1 = 3 + 5j
al2 = cmath.sqrt(al1)

print('{0} 제급근--> {1:.2f} + {2:.2f}j'.format(al1, al2.real, al2.imag))

In [ ]:
x = 5 + 7j
type(x)

print(x.real)
print(x.imag)

In [ ]:
al1 = float(input('입력값: '))
al2 = al1 ** 2
#print('{0} 의 제곱근은 {1}'.format(al1 ,al2))
print('{0} 의 제곱근은 {1:.2f}'.format(al1 ,al2))